body{
    background: #ddd;
    width: 80%;
    margin: 0 auto;
    max-width: 700px;
    line-height : 1.5;
}
header{
    padding: 5px 0;
    text-align: center;
}
main{}
.box{
    background: #fff;
    padding: 10px 30px;
}
.space{
    margin-top: 20px;
}

/*URL入れる所*/
#embedcode{
    padding: 30px 20px;
    background: #333;
    color: #ddd;
    overflow-x: scroll;
}
/*OKボタン*/
#OK-button{
    width: 20%;
}

h1{
    background: rgb(255,76,76);
    background: linear-gradient(90deg, rgba(255,76,76,1) 0%, rgba(255,53,118,1) 43%, rgba(255,165,76,1) 100%);
}
h2{
    border: solid #ff4d4d;
    border-width: 0 0 3px 15px;
    padding-left: 10px;
}
